#inputDiv {
    background-color: rosybrown;
    width: 60%;
    height:800px;
}

#firstNameField {
    width: 400px;
    padding: 5px;
    margin: 5px;
    float: left;
    margin: 10px;

    }
#firstNameInput {
    width: 200px;
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
    height: 10px; 

}

#lastNameField {
        width: 400px;
        padding: 5px;
        margin: 5px;
        float: left;
        margin: 5px;
}

#lastNameInput {
    width: 200px;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    height: 10px;
}

#empId {
    width: 400px;
    padding: 5px;
    margin: 5px;
    
}

#employeeId {
    width: 200px;
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
    height: 10px;
}

#job {
    width: 400px;
    padding: 5px;
    margin: 5px;
    
}

#jobTitle {
    width: 200px;
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
    height: 10px;
}

#salary {
    width: 300px;
    padding: 5px;
    margin: 5px;
    
}  

#salaryInput {
    width: 150px;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    height: 10px;
}