
img {
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.4;
    background-size: 100%;
    background-color: rosybrown;
    }

#firstNameField {
    width: 350px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    position: relative;
}

#firstName {
    width: 200px;
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
    height: 10px; 
    background-color: white;
}

#lastNameField {
    width: 350px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    position: relative;
}

#lastName {
    width: 200px;
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
    height: 10px;
    background-color: white;
}

#job {
    width: 350px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    position: relative;
}

#jobTitle {
    width: 200px;
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
    height: 10px;
    background-color: white;
}

#salary {
    width: 350px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    position: relative;
}  

#annualSalary{
    width: 200px;
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
    height: 10px;
    background-color: white;
}

#buttonDiv {
    width: 350px;
    height: 50px;
    padding: 5px;
    margin: 5px;
    position: relative;
}
#submitButton{
    height:37px;
    width: 75px;
    border-radius: 10px;
    margin: 10px;
    padding:5px;
    border: 2px solid black; 
    background-color: white;
    
}

table{
    width: 100%;
}

td {
    width:20%;
}

#tableDiv h1 {
    padding: 30px 30px;
    margin: 30px 30px;
    position: relative;
}